* {
    box-sizing: border-box;
}

/* column setup */
.col-1{
  width: 8.33%;
}
.col-2{
  width: 16.66%;
  float: left;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-6{
  width: 50%;
}
.col-8{
  width: 66.66%;
}
.col-9{
  width: 75%;
}
.col-12{
  width: 100%;
}

.flex-row {
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
}

body{
  margin: 0px;
  padding: 0px;
}

.background{
  background-color: #022b35;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.background-2{
  background-color: red;
  height: 100%
}


.contentContainer{
  font-family: "Andale Mono", sans-serif; 
  background-color: red;
  justify-content: center;
}

.content{

}

.link{
  background-color: transparent;
  padding: 5px;
  font-size: 16px;
  color: white;
  justify-content: center;
  height: 74px;
}


.github-link{
  background-image: url('GitHub-Mark-Light-64px.png');
  width: 64px;
  height: auto;
}

.github-link:hover{
  background-image: url('GitHub-Mark-64px.png');
  width: 64px;
  height: auto;
}

.twitter-link{
  background-image: url('Twitter_Social_Icon_Circle_White.png');
  width: 64px;
  height: auto;
}

.twitter-link:hover{
  background-image: url('Twitter_Social_Icon_Circle_Color.png');
  width: 64px;
  height: auto;
}

.linkedin-link{
  background-image: url('In-White-66px-R.png');
  width: 64px;
  height: auto;
}

.linkedin-link:hover{
  background-image: url('In-Black-66px-R.png');
  width: 64px;
  height: auto;
}

.name{
  font-size: 28px;
  color: white;
}


