@import "../../node_modules/bulma/bulma.sass";

$breakpoint-tablet: 768px;
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.front-page-tile {
  padding: 20px;
}

.tile-card {
  height: 200px;

  .tile-card-default {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  &:hover div.tile-card-default {
    display: none;
  }

  .tile-card-hover {
    display: none;
    @media (max-width: $breakpoint-tablet) {
      display: block;
    }

    .tile-card-hover-title {
      font-size: 1.75rem;
      padding: 10px;
    }

    .tile-card-hover-content {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      .download-link {
        display: block;
        text-align: center;
        .download-link-text {
          margin-top: 10px;
          font-size: 1.25rem;
        }
      }

      .image-link-icon {
        width: 75px;
        height: 75px;
        text-align: center;
        margin: 5px 30px;

        .image-link-icon-text {
          font-size: 1.25rem;
          margin-top: 10px;
        }
      }
    }
  }
  &:hover div.tile-card-hover {
    display: block;
  }
}
